<div class="container">
  <h3 class="mt-2">Angular RRule Generator </h3>
  <form [formGroup]="form">
    <ngx-rrule formControlName="testRule"></ngx-rrule>
  </form>
  <h5 class="mt-3"><strong>Output</strong></h5>
  <div class="px-3 pt-3 border rounded">
    <div class="form-group row d-flex align-items-sm-center">
      <div class="col-sm-2 text-sm-right">
        <span class="col-form-label"><strong>RRule String</strong></span></div>
      <div class="col-sm-8">
        <textarea class="form-control rrule rrule-not-copied" readonly="" rows="5"
                  style="overflow: hidden; overflow-wrap: break-word; resize: none;">{{rRule?.toString()?.trim()}}
        </textarea>
      </div>
    </div>

    <div class="form-group row d-flex align-items-sm-center">
      <div class="col-sm-2 text-sm-right">
        <span class="col-form-label"><strong>RRule Text</strong></span></div>
      <div class="col-sm-8">
        <textarea class="form-control rrule rrule-not-copied" readonly="" rows="5"
                  style="overflow: hidden; overflow-wrap: break-word; resize: none;">{{rRule?.toText()?.trim()}}
        </textarea>
      </div>
    </div>
  </div>
</div>

